* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background: url(../img/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-size: 100% 100%;  */
  color: white;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  /* display: grid;
  grid-template-rows: max-content 1fr max-content;
  align-items: center; */
}

a{
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.info {
  color:red;
  font-weight: bold;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

.logo i {
  margin-left: 7px;
}

#text-front-pg {

  color: #ff9800;
  background-image: -webkit-linear-gradient(315deg, #ff9800 0%, #7a1212 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    /* font-size: calc(0.45em + 1vmin); */
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(99,97,96,1) 50%, rgba(0,0,0,1) 100%);
    opacity: 80%;
  }

nav ul li {
  display: inline-flex;
  margin-right: 10px;
}

nav ul a {
  margin-right: 10px;
}

nav #icon {
margin-left: 2px;
}

.nav-btn {
  cursor: pointer;
  background: #331010;
  padding: 10px;
}

nav ul li:nth-child(4) {
  margin-right: -3px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#icon {
  font-size: 1.8em;
  color:orange;
}

.welcome {
  margin-top:50px;
}

.welcome p {
  font-size: 50px;
  margin-left: 45%;
  margin-top: 10px; 
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 10px;
  background: #331010;
  color: #fff;
  font-size: 15px;
  margin-top: 2px;
}

.btn:hover {
  opacity: 0.8;
}

.meni-btn{
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 10px;
  background: #331010;
  color: #fff;
  font-size: 30px;
  margin-left: 45%;
  margin-top: 20px;
  border-radius: 20%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  grid-gap: 30px;
  margin-left: 40%;
  margin-bottom: 40px;
  margin-top: 25px;
}

#item {
  min-height: 360px;
}

#desc {
  height: 95px;
}

#desc-text {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-align: justify;
}

#order-submit {
  text-align: start;
}

#order-submit .btn {
  border-radius: 3px;
}

#price-qt { 
  display: flex;
  margin: 5px 0px;
  width:100%;
  justify-content: space-between;
}

.cards img {
  width: 150px;
}

.cards h3 {
  margin-bottom: 3px;
}

.cards a {
  display: inline-block;
  padding-top: 10px;
  color: #fff;
}

.cards p {
  padding-top: 5px;
}

.cijena {
  background: rgb(139, 95, 58);
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

.wrapper {	
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}

.wrapper p {
  margin-top: 10px;
  color:red;
  font-weight: bold;
}

.product-quantity {
  padding: 5px;
  border-radius: 3px;
  border: #E0E0E0 1px solid;
  max-width: 20%;
  margin-left: 5px;
}

.sign-form {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 320px;
  background: #fff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
}

.sign-form input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
}

.form-heading{
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.sign-form .btn{
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 0 0 2px 2px;
}

.edit{
  /* display: flex; */
  margin-left: 50%;
  margin-top:50px; 
}

.meni-edit{
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 700px;
  background: #fff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
}
.meni-edit input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.meni-edit input[name=opis] {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  line-height:100px;
  word-wrap: break-word;
}

.meni-edit input[type="number"] {
  display: inline-block;
  padding: 15px 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 80px;
}

.meni-edit .btn{
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 0 0 2px 2px;
}

.meni-edit label{
  display: flex;
  color: #444;
  margin-bottom: 10px;
}

.meni-edit label[for=cijena]{
  display: inline-block;
  color: #444;
  margin-bottom: 10px;
}

.meni-add{
  border-radius: 2px 2px 0px 0px;
  padding: 10px 20px 20px 20px;
  width: 700px;
  background: #fff;
  position: relative;
  padding-bottom: 10px; 
}
.meni-add input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 20%;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.meni-add label{
  display: flex;
  color: #444;
  margin-bottom: 10px;
}
.meni-add p{
  margin-top: 10px;
  color:red;
  font-weight: bold;
}

footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0.8rem;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(99,97,96,1) 50%, rgba(0,0,0,1) 100%);
  opacity: 80%;
  margin: 0px;
  width: 100%;
  font-size: calc(0.45em + 1vmin);
}

footer:nth-child(1) { grid-column-start: 2; }
footer:nth-child(3) { margin-left: auto; }

.follow {
  display: inline-flex;
  align-items: center;
  place-self: end;
}

.follow p { padding-right: 5px; }

.follow img { width: min(32px,1.5em); height: auto; }

.content-wrapper {
  margin: 0 auto;
}

.cart table {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
  color: black;
  width: 100%;
}

.cart h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 20px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.cart table thead td {
	padding: 30px 0;
  border-bottom: 1px solid #EEEEEE;
}

.cart table thead td:last-child {
	text-align: right;
}

.cart table tbody td {
	border-bottom: 1px solid #EEEEEE;
}

.cart table tbody td:last-child {
	text-align: right;
}

.cart table .remove {
	font-size: 12px;
  padding-top: 3px;
  color:black;
}

.cart table .remove:hover {
  text-decoration: underline;
}

.cart .subtotal {
	text-align: right;
	padding: 20px 0;
}

.cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}

.cart .subtotal .price {
	font-size: 18px;
	color: orange;
}

.cart table .img {
	width: 90px;
}

.cart .button input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #331010;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

.cart .button {
	text-align: right;
}

.cart .error {
  text-align: right;
  color: red;
  font-weight: 500;
}

rss article{
  background: linear-gradient(0deg, rgba(221,186,164,1) 0%, rgba(224,157,8,1) 100%);
  color: black;
  padding: 20px;
  margin: 20px 0px 20px 10px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 3px;
  width: 75%;
}

rss article naslov{
  font-weight: bold;
  padding-right: 10px;
}

rss article opis img {
  margin-left: 5px !important;
  border-radius: 3px;
  margin: 15px 0px 15px 0px !important;
}

rss article datum {
  font-style:italic;
  font-size: 15px;
}

.slider{
  margin-left: 45%;
  margin-top: 10px;
}

.slide img{
  width: min(450px,90%);
  height: 310px;
  display: block;
  border-radius: 4px;
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, maroon 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);

}

@media(max-width:715px) {

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  /* .menu-overlay {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    display: none;
  }

  .menu-overlay.hide {
    display: block;
  } */

  .hamburger {
    display: block;
    margin-right: 1vw;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .welcome.hide {
    opacity: 0;
    transition: 0.3s;
  }

  .logo {
    z-index: 100;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
    background-color: black;
  }

  .wrapper {
    z-index: -1;
  }

  .cards{
    margin: 25px auto 40px auto;
  }

}

@media (max-width: 768px) {
  .welcome {
    align-self: center;
    text-align-last: center;
  }
  .welcome p {
    margin: 0 auto;
    font-size: 30px;
  }
  .meni-btn {
    margin: 0 auto;
    font-size: 25px;
  }

  .slider {
    margin-left: unset;
   }

  .slide {
    margin: 0 auto;
    width: 75%;
    align-self: center;
  }

  .slide img {
    width: 100%;
  }

}

@media(max-width: 830px) {
  #cart-text {
    display: none;
  }
}

.orders-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.orders-table th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
.orders-table th {
  background-color: rgba(77, 12, 12, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.orders-table tr:nth-child(even) {
  background-color: #572a2a;
}
.orders-table tr:hover {
  background-color: #1f1d1d;
}
.empty-message {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #999;
}

.delete-btn {
  background-color: rgba(77, 12, 12, 0.8);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
